# Python cache
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django specific
db.sqlite3
*.sqlite3

# Django environment variables
.env

# Logs
*.log

# Media and static files
media/
static/

# Migrations
*/migrations/*
!*/migrations/__init__.py

# IDE/editor files
.vscode/
.idea/

# System files
.DS_Store

# Home app
home/migrations/
!home/migrations/__init__.py

# Items app
items/migrations/
!items/migrations/__init__.py

# PredictHealth app
predictHealth/migrations/
!predictHealth/migrations/__init__.py
