{% load static %} {% load schedule_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Fitness Scheduler{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="bg-gray-50">
    <nav class="bg-indigo-600 text-white ">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex items-center">
                <a href="{% url 'schedule_calendar' %}"
                 class="flex items-center space-x-2">
                    <i class="fas fa-dumbbell text-2xl"></i>
                    <span class="font-bold text-xl">PharmaAI | Schedule Training</span>
                </a>
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a
                  href="{% url 'schedule_calendar' %}"
                  class="text-white hover:bg-indigo-500 px-3 py-2 rounded-md text-sm font-medium"
                  >Schedule</a
                >
                <a
                href="{% url 'program_list' %}"
                class="text-white hover:bg-indigo-500 px-3 py-2 rounded-md text-sm font-medium"
                >See My Programs</a
              >
              </div>
            </div>
          </div>
          <div class="flex items-center">
            {% if user.is_authenticated %}
            <span class="text-white mr-4">{{ user.username }}</span>
            <a
              href="{% url 'logout' %}"
              class="bg-indigo-700 hover:bg-indigo-800 text-white px-4 py-2 rounded-md text-sm font-medium"
              >Logout</a
            >
            {% else %}
            <a
              href="{% url 'login' %}"
              class="bg-indigo-700 hover:bg-indigo-800 text-white px-4 py-2 rounded-md text-sm font-medium"
              >Login</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% if messages %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
      {% for message in messages %}
      <div
        class="{% if message.tags == 'success' %}bg-green-100 border-green-500 text-green-700{% else %}bg-red-100 border-red-500 text-red-700{% endif %} border-l-4 p-4 mb-4 rounded"
      >
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
