{% extends "base.html" %}

{%block title%}HOME{%endblock title%}

{%block body%}

<style>
    html {
        overflow-x: hidden;
    }
</style>

<div class="container my-4">

    <main role="main">
        <section class="jumbotron text-center my-5 bg-white">
            <div class="container">
                <img src="/static/pharmaai.png" class="w-75 rounded mb-5" />

                <h1 class="jumbotron-heading"><b>WELCOME TO <span class="text-info">PharmaAI</span></b>
                </h1>
            </div>
        </section>
    </main>
    <hr>

    <main role="main">
        <section class="jumbotron text-center my-5 bg-white">
            <div class="container row">
                <div class="col-6">
                    <h1 class="jumbotron-heading">Are you a Client?</h1>
                    <p>
                        <a class="btn btn-info px-4 py-2 my-2" href="/register">Client Registration</a>
                        <a class="btn btn-secondary px-4 py-2 my-2" href="/login">Client Login</a>
                    </p>
    
                </div>
                <div class="col-6">
                    <h1 class="jumbotron-heading">Are you a Doctor?</h1>
                    <p>
                        <a class="btn btn-info px-4 py-2 my-2" href="/doctor_register">Doctor Registration</a>
                        <a class="btn btn-secondary px-4 py-2 my-2" href="/doctor_login">Doctor Login</a>
                    </p>
    
                </div>
            </div>
        </section>
    </main>
    <hr>
    
    
</div>









{%endblock body%}