{% extends "new_base.html" %}

{%block title%}HOME{%endblock title%}

{%block body%}

<style>
    html {
        overflow-x: hidden;
    }
</style>

<div class="container my-4">

    <div class="w-100">
        <main role="main">
            <section class="text-center my-5">
                <div class="container">
                    <img src="/static/newlogo.PNG" class="w-75 mx-auto rounded mb-5" />

                    </h1>
                </div>
                <h1 class="jumbotron-heading text-5xl"><b>WELCOME TO <span class="text-indigo-600">PharmaAI</span></b>

            </section>
        </main>
        <hr>
    
        <main role="main">
            <section class="text-center my-5">
                <div class="container grid grid-cols-12">
                    <div class="col-span-6">
                        <h1 class="jumbotron-heading">You have an Account?</h1>
                        <p>
                            <a class="btn bg-indigo-600 text-white hover:bg-indigo-800 px-4 py-2 my-2 w-75" href="/login">Login</a>
                        </p>
        
                    </div>
                    <div class="col-span-6">
                        <h1 class="jumbotron-heading">New User?</h1>
                        <p>
                            <a class="btn bg-indigo-600 text-white hover:bg-indigo-800 px-4 py-2 my-2 w-75" href="/register">Register</a>
                        </p>
        
                    </div>
                </div>
            </section>
        </main>
        <hr>
        
    </div>
    
</div>









{%endblock body%}