{% extends "fitness/base.html" %}

{% block title %}User History{% endblock title %}

{% block body %}
<div class="container my-4">

    <div class="my-3 p-3 bg-white rounded box-shadow w-100">
        <h3 class="my-3 pb-2 mb-0 text-3xl p-[10px]">Medical History</h3>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Test Taken</th>
                    <th scope="col">Date of Examination</th>
                    <th scope="col">Predicted Result</th>
                    <th scope="col">Action</th>  
                </tr>
            </thead>
            <tbody>
                {% for history_entry in user_medical_history reversed %}
                <tr>
                    <td>{{ history_entry.test_type }}</td>
                    <td>{{ history_entry.date }}</td>
                    <td class="text-success"><b>{{ history_entry.result }}</b></td>
                    <td>
                        <form method="POST" action="{% url 'delete_history_entry' history_entry.id %}" onsubmit="return confirmDelete()">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this ?");
    }
</script>

{% endblock body %}
