{% extends "login_base.html" %}

{%block title%}Store{%endblock title%}

{%block body%}

<div class="container">
    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_image' %}">
        {% csrf_token %}
        <div class="d-flex justify-content-between align-items-center my-3 py-3">
            <h1 class="text-dark">Store Items</h1>
            <label class="btn btn-info" style="cursor: pointer;">
                <div class="h5 my-1 mx-2">Upload Prescription</div>
                <input type="file" name="image" accept="image/*" onchange="this.form.submit()"
                    class="btn btn-info d-none">
            </label>
        </div>
    </form>
    <hr>
    <p><i>
            Please browse through our selection of medicines and add the items you need to your cart.
            You can review detailed information about each medicine to ensure it meets your requirements.
            Once you've finalized your selection, proceed to checkout, and feel free to update your cart or add any
            special instructions if necessary.
        </i></p>
    <div class="row my-5">
        {% for item in items %}
        <div class="col-sm-6 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>
                            {{ item.name }}
                        </b>
                    </h5>
                    <hr>
                    <div>
                        <img src="{{ item.image.url }}" style="width: 100%; ">
                    </div>
                    <p><b>Price: </b>{{ item.price }} DT</p>
                    <div class="row justify-content-center align-items-center ">
                        <button type="button" class="mr-1 btn btn-info my-2 col-md-5" data-toggle="modal"
                            data-target="#showDetailModal{{ item.id }}">
                            Details
                        </button>

                        <button type="button" class="ml-1 btn btn-info my-2 col-md-5" data-toggle="modal"
                            data-target="#addToCartModal{{ item.id }}">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addToCartModal{{ item.id }}" tabindex="-1" role="dialog"
            aria-labelledby="addToCartTitle{{ item.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addToCartTitle{{ item.id }}"><b>Add <span class="text-info">{{
                                    item.name }}</span> to Cart</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/items/add_to_cart" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item" value="{{ item.id }}">
                            <br><label for="quantity"><b>Quantity: </b></label><br>
                            {{ form.quantity }}
                            <br>
                            <button type="submit" class="btn btn-info col-md-12">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger col-md-12" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="showDetailModal{{ item.id }}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle{{ item.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle{{ item.id }}"><b>{{ item.name }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{item.image.url}}" class="img-fluid" alt="">
                        <p class="my-3">{{ item.description }}</p>
                        <br>
                        <table class="table border-white">
                            <tr>
                                <th>Name</td>
                                <td>{{ item.name }}</td>
                            </tr>
                            <tr>
                                <th>Category</td>
                                <td>{{ item.category }}</td>
                            </tr>
                            <tr>
                                <th>Price</td>
                                <td>{{ item.price }} DT</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger col-md-12" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{%endblock body%}